<?xml version="1.0" encoding="utf-8"?>
<!-- Debug / integration_test: Skia path avoids Impeller + Vulkan black-screen quirks on some devices. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <meta-data
            android:name="io.flutter.embedding.android.EnableImpeller"
            android:value="false" />
    </application>
</manifest>
